@charset "UTF-8";

@keyframes appear {
    from {
        opacity: 1;
        translate: 0 0;
    }

    to {
        opacity: 0;
        translate: 0 0;
    }
}

section#welcome {
    animation: appear 7ms ease;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

section#bio {
    animation: appear 7ms ease;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

section#corpo {
    animation: appear 7ms ease;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

footer {
    animation: appear 7ms ease;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}