@charset "UTF-8";

@keyframes appear {
    from {
        opacity: 0;
        translate: 70vw 0;
    }

    to {
        opacity: 0;
        translate: 0 0;
    }
}

body {
    animation: appear 1ms ease;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}

section#welcome {
    animation: appear 1ms ease;
    animation-timeline: view();
    animation-range: cover 0% cover 50%;
}