@charset "UTF-8";

/* MOBILE FIRST */

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap'); /* fonte Anta */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* fonte "Roboto" */




* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 50px;
    
}

header > img#perfil-logo {
    display: block;
    float: left;
    width: 20%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    background: no-repeat url(../imgs/svg/html-logo.svg) center center;
    background-color: #3b395b;
    border-radius: 25% 25%;
}

header > h1 {
    display: block;
    text-align: center;
    width: 50%;
    padding-top: 8px;
    margin: 5px;

    font-family: Anta, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

section#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 500px;
}

section#welcome > div#hello > p {
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}

section#welcome > img#minha-foto {
    display: flex;
    justify-content: center;
    height: 28%;
    width: 28%;
    margin: auto;
    border-radius: 50%;
}

div#hello {
    width: 100%;
    height: 250px;
}

img#hello {
    /* padding-top: 50px; */
    width: 100%;
    height: 250px;
 
}

section#bio {
    display: flex;
    justify-content: center;
    background-color: #3b395b;
    height: 500px;
    width: 100%;
}

section#bio > aside {
    background-color: rgb(255, 255, 255);
    width: 235px;
    height: 250px;
    padding: 10px;
    margin-top: 50px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px #0000002f;
}

aside > h2 {
    font-family: Anta, sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

section#corpo {
    background-color: white;
    height: 1000px;
    width: 100%;
}

div#box {
    background-color: white;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 250px;
    height: 1000px;
    border-radius: 15px;
    border: 1px solid #9f9f9f36;
    box-shadow: 0px 0px 5px #0000002f;
    overflow: hidden;
}

div.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #9f9f9f36;
    height: 250px;
}

img.logo-img {
    display: flex;
    height: 70px;
    width: 70px;
    margin-top: 25px;
}

div.skills > h2 {
    font-family: Anta, Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

div.skills > p {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    width: 200px;
    text-justify: auto;
}

section#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b395b;
    width: 100%;
    height: 600px;
}

section#projects > h2 {
    color: white;
    font-family: Anta, Arial, Helvetica, sans-serif;
    font-size: 1.8em;
    text-shadow: #ffffff3a 0px 0px 5px;
    margin-top: 30px;
}

div.repositories {
    background-color: white;
    width: 200px;
    height: 200px;
    margin-bottom: 5px auto;
    margin-top: 30px;
    border: 1px solid #9f9f9f36;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0000002f;
}

footer {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
}

footer > h2 {
    font-family: Anta, arial, sans-serif;
    text-align: center;
    margin-top: 5px;
}

section#contatos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 300px;
    border-bottom: 0.7px solid white;
}


footer > section > a.links {
    margin-top: 2px;
    padding: 8px;
}

footer img {
    background-color: black;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}


footer img#github-icon:hover{
    background-color: #1C2128;
}

footer img#instagram-icon:hover {
    background: linear-gradient(-45deg, #FEC053, #F11F3D, #C6258D, #5442D6);
}

footer img#linkedin-icon:hover{
    background-color: #0274B3;
}

footer section#credits {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

footer section#credits > p {
    margin-top: 5px;
}

footer section#credits > p.email::before {
    content: url(../imgs/icons-svg/mail-icon.svg);
    margin-right: 5px;
    vertical-align: middle;
}
