@charset "UTF-8";

/* MOBILE FIRST */

@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap'); /* fonte Anta */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* fonte Roboto */




* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: white;
    width: 100%;
    height: 50px;
    
}

header > img#perfil-logo {
    display: block;
    float: left;
    width: 20%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    background: no-repeat url(../imgs/logos-svg/html-logo.svg) center center;
    background-color: #27DEBF;
    border-radius: 25% 25%;
}

header > h1 {
    display: block;
    text-align: center;
    width: 60%;
    padding-top: 8px;
    margin: 10px;

    font-family: Anta, sans-serif;
}

header > nav#sandwich {
    display: block;
    float: right;
    width: 20%;
    height: 100%;
    margin: 10px;

    background: no-repeat center center url(../imgs/icons-svg/menu-icon.svg);
}


body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

section#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 500px;
}

section#welcome > div#hello > p {
    margin: 50px;
    padding: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
}

div#hello {
    width: 100%;
    height: 250px;
}

img#hello {
    /* padding-top: 50px; */
    width: 100%;
    height: 250px;
 
}

section#bio {
    background-color: #27DEBF;
    height: 500px;
    width: 100%;
}

section#corpo {
    background-color: white;
    height: 740px;
    width: 100%;
}

div#box {
    background-color: white;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70%;
    height: 750px;
    border-radius: 15px;
    border: 1px solid #9f9f9f36;
    box-shadow: 0px 0px 5px #0000002f;
    overflow: hidden;
}

div.skills {
    border-bottom: 1px solid #9f9f9f36;
    height: 250px;
}

section#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27DEBF;
    width: 100%;
    height: 500px;
}

div.repositories {
    background-color: white;
    width: 200px;
    height: 200px;
    margin-bottom: 5px auto;
    margin-top: 30px;
    border: 1px solid #9f9f9f36;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #0000002f;
}

footer {
    width: 100%;
    height: 300px;
    background-color: black;
}